<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
  <form method="POST" id="myForm" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="{{recipient}}">
    <input type="hidden" name="label" value={{payment_id}}>
    <input type="hidden" name="quickpay-form" value="shop">
    <input type="hidden" name="targets" value="NZ Club">
    <input type="hidden" name="sum" value={{count}}>
    <input type="hidden" name="comment" value={{comment}} #quickpay>
    <input type="hidden" name="successURL" value="http://81.90.180.54/seasonal/booking/success/">
    <input type="hidden" name="need-fio" value="false">
    <input type="hidden" name="need-email" value="false">
    <input type="hidden" name="need-phone" value="false">
    <input type="hidden" name="need-address" value="false">
    <input type="hidden" name="paymentType" value="AC">
    <button type="submit" style="display: none;"></button>
  </form>
  <script>
    document.getElementById("myForm").submit();
  </script>
</body>
</html>